{% extends './includes/base.html' %} {% block content %}
<head>
 <link rel="stylesheet" href="https://js.arcgis.com/4.16/esri/themes/light/main.css" />
 <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>
<section>
  <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
    data-sizes="(min-width: 650px) 650px, 100vw" uk-img
    style="background-image: url(./static/img/visuals.jpg); height: 100px">
    <div class="container">
      <div class="row text-white">Data Visuals</div>

      <div class="row">
        <ul class="uk-breadcrumb">
          <li><a href="{{ url_for('home') }}" class="text-white">Home</a></li>
          <li>
            <a href="{{ url_for('accountability') }}" class="text-white">Accountability</a>
          </li>
          <li><span></span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="uk-container">
  <section>
    <h2 class="uk-heading-line uk-text-center">
      <span>Accountability Sector</span>
    </h2>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 col-lg-3 mb-4">
        <!--Card-->
        <div class="card text-center">
          <div class="card-header text-info">CHANGE SECTOR</div>
          <div class="card-body text-center">
            <h5 class="card-title text-center">
              Select from dropdown and change to another sector
            </h5>
            <a class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Switch to another sector</a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ url_for('accountability') }}"></a>

              <a class="dropdown-item" href="{{ url_for('agriculture') }}"></a>

              <a class="dropdown-item" href="{{ url_for('education') }}">Education</a>

              <a class="dropdown-item" href="{{ url_for('energy_and_mineral_development') }}">Energy and Mineral
                Development</a>

              <a class="dropdown-item" href="{{ url_for('health') }}">Health</a>

              <a class="dropdown-item" href="{{ url_for('ict_and_national_guidance') }}">ICT and National Guidance</a>

              <a class="dropdown-item" href="{{ url_for('justice_law_and_order') }}">Justice, Law and Order</a>

              <a class="dropdown-item" href="{{ url_for('lands_and_housing') }}">Lands and Housing</a>

              <a class="dropdown-item" href="{{ url_for('public_sector_management') }}">Public Sector Management</a>

              <a class="dropdown-item" href="{{ url_for('science_technology_and_innovation') }}">Science, Technology and
                Innovation</a>

              <a class="dropdown-item" href="{{ url_for('social_development') }}">Social Development</a>

              <a class="dropdown-item" href="{{ url_for('water_and_environment') }}">Water and Environment</a>
            </div>
          </div>
        </div>
        <!--/.Card-->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-lg-9">
        <!--Card-->
        <div class="card">
          <!--Card head-->
          <!-- Basic dropdown -->
          <span class="badge badge-info ml-2 mt-2" style="width: 40%">Click button to change indicator</span>
          <!-- Select change of indicator -->
          <form class="m-2">
            <fieldset class="uk-fieldset">
              <div class="uk-margin">
                <select class="uk-select">
                  <option>
                    Average household income by sex of head
                  </option>
                  <option>
                    Average household agricultural income by sex of head
                  </option>
                  <option>
                    Proportion of the population living below the national poverty line by sex
                  </option>
                  <option>
                    Proportion of the population with access to financial services by sex.
                  </option>
                </select>
              </div>
            </fieldset>
          </form>
          <!-- end Select change of indicator -->
          <!--Card content-->
          <div class="card-body text-center">
            <ul uk-tab>
              <li><a href="#" uk-icon="image">GRAPHS </a></li>
              <li><a href="#" uk-icon="table"> TABLE </a></li>
              <li><a href="#" uk-icon="location">MAP </a></li>
              <li><a href="#" uk-icon="code">META-DATA </a></li>
            </ul>

            <ul class="uk-switcher uk-margin">
              <!-- the graphs section -->
              <li>
                <canvas id="myChart" ></canvas>
              </li>
              <!-- end the graphs section -->
              
              <li>
                <div class="table table-responsive table-sm table-striped">
                  <table id="dtBasicExample" class="table table-sm" width="100%" height="80%">
                    <thead class="blue text-white">
                      <tr>
                        <th class="th-sm">Metric</th>
                        <th class="th-sm">Female</th>
                        <th class="th-sm">Male</th>
                        <th class="th-sm">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Average household income by sex of head</td>
                        <td>176,000</td>
                        <td>243,000</td>
                        <td>223,000</td>
                      </tr>
                    </tbody>
                    <tfoot class="blue text-white">
                      <tr>
                        <th class="th-sm">Metric</th>
                        <th class="th-sm">Female</th>
                        <th class="th-sm">Male</th>
                        <th class="th-sm">Total</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </li>

              <!--  The Maps sections-->
              <li>
                <div
                  id="viewDiv"
                  style="padding: 0; margin: 0; height: 40%; width: 40%"
                ></div>
              </li>
              <!--  end The Maps sections-->

              <!--  The metadata section-->
              <li>
                <div class="table-responsive  w-auto table-sm">
                  <!--Table-->
                  <table class="table table-striped table-bordered">
                    <caption>Source: UBOS</caption>
                    <!--Table head-->
                    <thead class="blue text-white">
                      <tr class="d-flex">
                        <th class="col-4">Metric</th>
                        <th class="col-8">Description</th>
                      </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                      <tr class="d-flex">
                        <td class="col-4">Indicator Name</td>
                        <td class="col-8">1.3 Average household income by sex of head</td>
                      </tr>
                      <tr class="d-flex">
                        <td class="col-4">Definition and Standard Classifications</td>
                        <td class="col-8">This is the measure of the average amount of money that is being earned per
                          household in a country in a given period by
                          sex of the household head.</td>
                      </tr>
                      <tr class="d-flex">
                        <td class="col-4">Unit of Measure</td>
                        <td class="col-8">UGX</td>
                      </tr>
                      <tr class="d-flex">
                        <td class="col-4">Computation Method</td>
                        <td class="col-8">"Divide the country’s national income by its total number of households (ΣHH
                          Income)/ΣHHs

                          "</td>
                      </tr>
                      <tr class="d-flex">
                        <td class="col-4">Compilation Practices</td>
                        <td class="col-8">Data is obtained from household and Panel surveys to derive the indicator. The
                          information is collected from a
                          nationally representative sample of the households, captured and analysed.</td>
                      </tr>
                      <tr class="d-flex">
                        <td class="col-4">Sources of data</td>
                        <td class="col-8">Uganda National Household Survey (UNHS) Uganda National Panel Survey (UNPS).
                        </td>
                      </tr>
                      <tr class="d-flex">
                        <td class="col-4">Disaggregation</td>
                        <td class="col-8">Sex of household head Residence Age Wealth quintileRegion</td>
                      </tr>
                      <tr class="d-flex">
                        <td class="col-4">Accessibility and Availability of data</td>
                        <td class="col-8">UNHS reportsUNPS ReportsUBOS Website (www.ubos.org)</td>
                      </tr>
                      <tr class="d-flex">
                        <td class="col-4">Periodicity of Production</td>
                        <td class="col-8">AnnuallyEvery 3 years</td>
                      </tr>
                      <tr class="d-flex">
                        <td class="col-4">Comments and limitations</td>
                        <td class="col-8">None</td>
                      </tr>
                    </tbody>
                    <!--Table body-->
                  </table>
                  <!--Table-->
                </div>
  </section>
  <!--Section: Live preview-->
  </li>
  <!--  end The metadata section-->

  </ul>
</div>
</div>
<!--/.Card-->
</div>
<!-- Grid column -->
</div>
<!-- Grid row -->
</section>
<br />
</div>

<!-- THE CHARTS DATA GOES HERE AND MORE ON THAT OR THEM -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Female', 'Male'],
        datasets: [{
          label: 'Average household income by sex of head',
          data: [176000, 243000],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
</script>
<script src="https://js.arcgis.com/4.16/"></script>
<script>
  require(["esri/Map", "esri/views/MapView"], function (Map, MapView) {
    var map = new Map({
      basemap: "topo-vector",
    });

    var view = new MapView({
      container: "viewDiv", // Reference to the DOM node that will contain the view
      map: map, // References the map object created in step 3
    });
  });
</script>
<!-- ################################################################################ -->

</body>

{% endblock content %}
