{% extends './includes/base.html' %}
{% block content %}

<!-- ======================================================================================================== -->
<!-- =================================================  Page Content ======================================== -->
<!-- ======================================================================================================== -->

<section>
    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
        data-sizes="(min-width: 650px) 650px, 100vw" uk-img
        style="background-image: url(./static/img/gallery.jpg); height: 100px">
        <div class="container">
            <div class="row text-white">Gender Statistics Portal</div>

            <div class="row">
                <ul class="uk-breadcrumb">
                    <li><a href="{{ url_for('home') }}" class="text-white">Home</a></li>
                    <li>
                        <a href="{{ url_for('gallery') }}" class="text-white">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="uk-container">
    <div class="uk-h3">Images coming soon</div>
    <div class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: slide">
        <div>
            <a class="uk-inline" href="{{ url_for('static', filename='./img/tea1.jpeg') }}" data-caption="Caption 1">
                <img src="images/photo.jpg" alt="">
            </a>
        </div>
        <div>
            <a class="uk-inline" href="{{ url_for('static', filename='./img/tea2.jpeg') }}" data-caption="Caption 2">
                <img src="images/dark.jpg" alt="">
            </a>
        </div>
        <div>
            <a class="uk-inline" href="{{ url_for('static', filename='./img/tea3.jpeg') }}" data-caption="Caption 3">
                <img src="images/light.jpg" alt="">
            </a>
        </div>
    </div>

    <div class="uk-h3">Images coming soon</div>
    <div class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: fade">
        <div>
            <a class="uk-inline" href="{{ url_for('static', filename='./img/tea4.jpeg') }}" data-caption="Caption 1">
                <img src="images/photo.jpg" alt="">
            </a>
        </div>
        <div>
            <a class="uk-inline" href="{{ url_for('static', filename='./img/tea5.jpeg') }}" data-caption="Caption 2">
                <img src="images/dark.jpg" alt="">
            </a>
        </div>
        <div>
            <a class="uk-inline" href="{{ url_for('static', filename='./img/tea6.jpeg') }}" data-caption="Caption 3">
                <img src="images/light.jpg" alt="">
            </a>
        </div>
    </div>

    <div class="uk-h3">Images coming soon</div>
    <div class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: scale">
        <div>
            <a class="uk-inline" href="{{ url_for('static', filename='/img/tea7.jpeg') }}" data-caption="Caption 1">
                <img src="images/photo.jpg" alt="">
            </a>
        </div>
        <div>
            <a class="uk-inline" href="{{ url_for('static', filename='img/tea1.jpeg') }}" data-caption="Caption 2">
                <img src="images/dark.jpg" alt="">
            </a>
        </div>
        <div>
            <a class="uk-inline" href="../../static/img/tea2.jpeg" data-caption="Caption 3">
                <img src="images/light.jpg" alt="">
            </a>
        </div>
    </div>
</div>

<!-- ======================================================================================================== -->
<!-- ============================================== end Page Content ======================================== -->
<!-- ======================================================================================================== -->

{% endblock content %}