{% extends './includes/base.html' %} {% block content%}

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/cards.css') }}" />
</head>


<!--Carousel Wrapper-->
<div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push" style="height: 650px">

  <ul class="uk-slideshow-items">
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
        <img src="{{ url_for('static', filename='./img/IMG_7806.JPG') }}" alt="" uk-cover>
        <div class="uk-position-center uk-position-large uk-text-center uk-light">
          <h2 class="uk-margin-remove">Gender Statistics Portal</h2>
          <p class="uk-margin-remove">We maintain data records and deciminate information concerning gender related
            stats
            for the Republic of Uganda</p>
        </div>
        <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.4);">
        </div>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
        <img src="{{ url_for('static', filename='./img/IMG_7878.JPG') }}" alt="" uk-cover>
        <div class="uk-position-center uk-position-large uk-text-center uk-light">
          <h2 class="uk-margin-remove">Gender Statistics Portal</h2>
          <p class="uk-margin-remove">We maintain data records and deciminate information concerning gender related
            stats
            for the Republic of Uganda</p>
        </div>
        <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.4);">
        </div>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
        <img src="{{ url_for('static', filename='./img/IMG_7893.JPG') }}" alt="" uk-cover>
        <div class="uk-position-center uk-position-large uk-text-center uk-light">
          <h2 class="uk-margin-remove">Gender Statistics Portal</h2>
          <p class="uk-margin-remove">We maintain data records and deciminate information concerning gender related
            stats
            for the Republic of Uganda</p>
        </div>
        <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.4);">
        </div>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
        <img src="{{ url_for('static', filename='./img/IMG_7954.JPG') }}" alt="" uk-cover>
        <div class="uk-position-center uk-position-large uk-text-center uk-light">
          <h2 class="uk-margin-remove">Gender Statistics Portal</h2>
          <p class="uk-margin-remove">We maintain data records and deciminate information concerning gender related
            stats
            for the Republic of Uganda</p>
        </div>
        <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.4);">
        </div>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
        <img src="{{ url_for('static', filename='./img/IMG_8022.JPG') }}" alt="" uk-cover>
        <div class="uk-position-center uk-position-large uk-text-center uk-light">
          <h2 class="uk-margin-remove">Gender Statistics Portal</h2>
          <p class="uk-margin-remove">We maintain data records and deciminate information concerning gender related
            stats
            for the Republic of Uganda</p>
        </div>
        <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.4);">
        </div>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
        <img src="{{ url_for('static', filename='./img/IMG_8042.JPG') }}" alt="" uk-cover>
        <div class="uk-position-center uk-position-large uk-text-center uk-light">
          <h2 class="uk-margin-remove">Gender Statistics Portal</h2>
          <p class="uk-margin-remove">We maintain data records and deciminate information concerning gender related
            stats
            for the Republic of Uganda</p>
        </div>
        <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.4);">
        </div>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
        <img src="{{ url_for('static', filename='./img/IMG_8118.JPG') }}" alt="" uk-cover>
        <div class="uk-position-center uk-position-large uk-text-center uk-light">
          <h2 class="uk-margin-remove">Gender Statistics Portal</h2>
          <p class="uk-margin-remove">We maintain data records and deciminate information concerning gender related
            stats
            for the Republic of Uganda</p>
        </div>
        <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.4);">
        </div>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
        <img src="{{ url_for('static', filename='./img/IMG_8128.JPG') }}" alt="" uk-cover>
        <div class="uk-position-center uk-position-large uk-text-center uk-light">
          <h2 class="uk-margin-remove">Gender Statistics Portal</h2>
          <p class="uk-margin-remove">We maintain data records and deciminate information concerning gender related
            stats
            for the Republic of Uganda</p>
        </div>
        <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.4);">
        </div>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
        <img src="{{ url_for('static', filename='./img/IMG_7779.JPG') }}" alt="" uk-cover>
        <div class="uk-position-center uk-position-large uk-text-center uk-light">
          <h2 class="uk-margin-remove">Gender Statistics Portal</h2>
          <p class="uk-margin-remove">We maintain data records and deciminate information concerning gender related
            stats
            for the Republic of Uganda</p>
        </div>
        <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.4);">
        </div>
      </div>
    </li>
  </ul>

  <div class="uk-light">
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
      uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
      uk-slideshow-item="next"></a>
  </div>

</div>
<!--/.Carousel Wrapper-->



<section>
  <!-- Testing cards -->
  <div class="uk-section mt-5 container">
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
      <div>
        <div class="uk-card uk-card-default uk-card-body" style="padding: 0px">
          <!-- Card -->
          <div class="card card-image" style="
              background-image: url(./static/img/accountability.jpg);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            ">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="{{ url_for('accountability') }}" uk-icon="icon: settings; ratio: 1.5;">
                  Accountability
                </a>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body" style="padding: 0px">
          <!-- Card -->
          <div class="card card-image" style="
              background-image: url(./static/img/water.png);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            ">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="{{ url_for('water_and_environment') }}" uk-icon="icon: settings; ratio: 1.5;">
                  Environment & Water
                </a>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body" style="padding: 0px">
          <!-- Card -->
          <div class="card card-image" style="
              background-image: url(./static/img/agriculture.jpg);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            ">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="{{ url_for('agriculture') }}" uk-icon="icon: settings; ratio: 1.5;">
                  Agriculture
                </a>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body" style="padding: 0px">
          <!-- Card -->
          <div class="card card-image" style="
              background-image: url(./static/img/education.jpg);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            ">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="{{ url_for('education') }}" uk-icon="icon: settings; ratio: 1.5;">
                  Education
                </a>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
    </div>
    <br />
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
      <div>
        <div class="uk-card uk-card-default uk-card-body" style="padding: 0px">
          <!-- Card -->
          <div class="card card-image" style="
              background-image: url(./static/img/mining.png);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            ">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="{{ url_for('energy_and_mineral_development') }}" uk-icon="icon: settings; ratio: 1.5;">
                  Energy & Mineral Development
                </a>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body" style="padding: 0px">
          <!-- Card -->
          <div class="card card-image" style="
              background-image: url(./static/img/health.jpg);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            ">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="{{ url_for('health') }}" uk-icon="icon: settings; ratio: 1.5;">
                  Health
                </a>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body" style="padding: 0px">
          <!-- Card -->
          <div class="card card-image" style="
              background-image: url(./static/img/ict.jpg);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            ">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="{{ url_for('ict_and_national_guidance') }}" uk-icon="icon: settings; ratio: 1.5;">
                  ICT & National Guidance
                </a>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body" style="padding: 0px">
          <!-- Card -->
          <div class="card card-image" style="
              background-image: url(./static/img/justice.png);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            ">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="{{ url_for('justice_law_and_order') }}" uk-icon="icon: settings; ratio: 1.5;">
                  Justice, Law & Order
                </a>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
    </div>
    <br />
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
      <div>
        <div class="uk-card uk-card-default uk-card-body" style="padding: 0px">
          <!-- Card -->
          <div class="card card-image" style="
              background-image: url(./static/img/housing.jpg);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            ">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="{{ url_for('lands_and_housing') }}" uk-icon="icon: settings; ratio: 1.5;">
                  Lands & Housing
                </a>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body" style="padding: 0px">
          <!-- Card -->
          <div class="card card-image" style="
              background-image: url(./static/img/public.jpg);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            ">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="{{ url_for('public_sector_management') }}" uk-icon="icon: settings; ratio: 1.5;">
                  Public Sector Management
                </a>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body" style="padding: 0px">
          <!-- Card -->
          <div class="card card-image" style="
              background-image: url(./static/img/tech.png);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            ">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="{{ url_for('science_technology_and_innovation') }}" uk-icon="icon: settings; ratio: 1.5;">
                  Science, Tech & Innovation
                </a>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body" style="padding: 0px">
          <!-- Card -->
          <div class="card card-image" style="
              background-image: url(./static/img/social.jpg);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            ">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <a href="{{ url_for('social_development') }}" uk-icon="icon: settings; ratio: 1.5;">
                  Social Development
                </a>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
    </div>
  </div>
  <!-- end of Testing cards -->
</section>
<section>
  <div class="container">
    <!-- Header for the Trending section -->
    <header>
      <h4 class="h4-responsive">Trending</h4>
      <p>Some of the latest trending news</p>
      <hr />
    </header>
    <div>
      <ul uk-accordion>
        <li>
          <a class="uk-accordion-title" href="#">News Item 1</a>
          <div class="uk-accordion-content">
            <div class="uk-panel">
              <img class="uk-align-left uk-margin-remove-adjacent"
                src="{{ url_for('static', filename='./img/IMG_7806.JPG') }}" width="225" height="150"
                alt="Example image" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </li>
        <li class="uk-open">
          <a class="uk-accordion-title" href="#">News Item 2</a>
          <div class="uk-accordion-content">
            <div class="uk-panel">
              <img class="uk-align-left uk-margin-remove-adjacent"
                src="{{ url_for('static', filename='./img/IMG_7806.JPG') }}" width="225" height="150"
                alt="Example image" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">News Item 3</a>
          <div class="uk-accordion-content">
            <div class="uk-panel">
              <img class="uk-align-left uk-margin-remove-adjacent"
                src="{{ url_for('static', filename='./img/IMG_7806.JPG') }}" width="225" height="150"
                alt="Example image" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<br />

{% endblock %}