{% extends './includes/base.html' %} {% block content %}

<!-- ======================================================================================================== -->
<!-- =================================================  Page Content ======================================== -->
<!-- ======================================================================================================== -->

<section>
  <div
    class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
    data-sizes="(min-width: 650px) 650px, 100vw"
    uk-img
    style="background-image: url(./static/img/publications.jpg); height: 100px"
  >
    <div class="container">
      <div class="row text-dark">Gender Statistics Portal</div>
      <div class="row text-dark">
        <ul class="uk-breadcrumb text-dark">
          <li><a href="{{ url_for('home') }}" class="text-dark">Home</a></li>
          <li>
            <a href="{{ url_for('health') }}" class="text-dark">Publications</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<h3 class="uk-heading-line uk-text-center blue-gradient text-white mt-0">
  The Gender Statistics Portal
</h3>
<section class="uk-container">
  <div class="uk-container border border-info mb-3">
    <h4 class="uk-heading-divider uk-heading-bullet mt-3 uk-text-primary m-3">
      Gender Publications
    </h4>
    <div class="overflow-auto">
      <table class="uk-table uk-table-small table-striped m-3 py-1">
        <caption>
          All publications made in relation to gender activities
        </caption>
        <thead>
          <tr>
            <th>Title</th>
            <th>Added on</th>
            <th>Size</th>
            <th>Times downloaded</th>
          </tr>
        </thead>
        <tbody>
          {% for row in pubs %}
          <tr>
            <td><a href="#">{{row["doc_name"]}}</a></td>
            <td>{{row["date_added"]}}</td>
            <td>{{ row["size"]}}</td>
            <td>{{row["downloads"]}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7"">Sources:
            <a
              href=" https://www.ubos.org/?pagename=explore-publications&p_id=67"
              rel="external"
              class="text-info"
              >Uganda Bureau Of Statistic</a
            >
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
<!-- ======================================================================================================== -->
<!-- =============================================  end Page Content ======================================== -->
<!-- ======================================================================================================== -->

{% endblock content %}
