appdirs==1.4.4
attrs==20.1.0
autopep8==1.5.4
bandit==1.6.2
black==19.10b0
click==7.1.2
Flask==1.1.2
gitdb==4.0.5
GitPython==3.1.7
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pathspec==0.8.0
pbr==5.4.5
pycodestyle==2.6.0
PyYAML==5.3.1
regex==2020.7.14
six==1.15.0
smmap==3.0.4
stevedore==3.2.0
toml==0.10.1
typed-ast==1.4.1
Werkzeug==1.0.1
